# build output
dist/
.output/

# deps
node_modules/

# astro
.astro/

# env
.env
.env.production

# macOS
.DS_Store

# editor
.vscode/
.idea/

# logs
npm-debug.log*

# vercel adapter build output
.vercel/
